In [1]:
import numpy as np
import pandas as pd
from sentence_splitter import SentenceSplitter, split_text_into_sentences
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [18]:
splitter = SentenceSplitter(language='en')
stop_words = set(stopwords.words('english'))

In [2]:
df = pd.read_csv('../dataset/small_yelp.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,text,stars
0,572626,572626,"Terrible, terrible service, if I could give th...",1
1,698670,698670,Worst Vegas nightclub ever!!! The staff is so ...,1
2,954082,954082,This was the worst experience of my life with ...,1
3,379775,379775,We ordered 1 pizza and bread... Placed the ord...,1
4,597064,597064,Very disappointed in the service disorganized ...,1

In [4]:
train_df = df[:25000]
vt_df = df[25000:]
validate, test = np.split(vt_df, 2)

In [7]:
test['stars'].value_counts()

5    4455
4    2194
1    1407
3    1091
2     853
Name: stars, dtype: int64

In [62]:
train, validate, test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])

In [63]:
value5 = train.loc[train['stars'] == 5]
value4 = train.loc[train['stars'] == 4]
value3 = train.loc[train['stars'] == 3]
value2 = train.loc[train['stars'] == 2]
value1 = train.loc[train['stars'] == 1]
value5 = value5[:5000]
value4 = value4[:5000]
value3 = value3[:5000]
value2 = value2[:5000]
value1 = value1[:5000]

train = pd.concat([value1,value2,value3,value4,value5])

In [64]:
validate = validate[:10000]
test = test[:10000]

In [65]:
new_df = pd.concat([train, validate, test])

In [8]:
df = df[~df['text'].isin([np.nan])]

In [67]:
new_df.to_csv('../dataset/yelp/small_yelp.csv')

In [68]:
_reviews = new_df['text'].tolist()

In [69]:
len(_reviews)

45000

In [24]:
def sentenceProcessing(reviews):
    filt_rev = []
    sentences = splitter.split(text=reviews)
    for sent in sentences:
        sent_tok = word_tokenize(sent) 
#lower case the sentence
        l_sent = [tok.lower() for tok in sent_tok]
        filt_rev.append(l_sent)
    
    return filt_rev

##### create a text file

In [25]:
train_reviews = train_df['review content'].tolist()

In [26]:
vt_reviews = vt_df['review content'].tolist()

In [27]:
len(vt_reviews)

20000

In [29]:
with open('../dataset/shoes/train_shoes.txt', 'w') as rev_sent:
    for rev in train_reviews:
        for sent in sentenceProcessing(rev):
            ss = (' '.join(sent)).strip('\n')
            #this line acts as a delimiter
            rev_sent.write(ss+'\n')
        rev_sent.write('split line\n')

In [30]:
with open('../dataset/shoes/valtest_shoes.txt', 'w') as rev_sent:
    for rev in vt_reviews:
        for sent in sentenceProcessing(rev):
            ss = (' '.join(sent)).strip('\n')
            ##this line acts as a delimiter
            rev_sent.write(ss+'\n')
        rev_sent.write('split line\n')